@page "{searchString?}"
@model artfind.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    //<div class="form-actions no-color">


    }

<form asp-page="./Artists/Index" method="get">
    <div class="form-actions no-color">
        <p>
            <img src="./Photos/scope.jpg" alt="scope" />
            <input class="centered2 btn btn-light" type="submit" value="find" />
            <input class="centered" type="text" asp-for="SearchString" value="@Model.CurrentFilter" />

        </p>
        </div>
</form>

        <footer>photo by S O C I A L . C U T on Unsplash</footer>
